h1,
h3 {
    text-align: center;
}

#container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mike-image {
    height: 250px;
    width: 250px;
}

#wins {
    background-color: yellowgreen;
    width: auto;
}

#current-word-section {
    background-color: sandybrown;
    text-emphasis: bold;
    width: auto;
}

#current-word {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-family: 'Permanent Marker', cursive;
    width: auto;
}

.card {
    width: 100%;
    height: 100px;
    align-items: center;
    width: auto;
}

#guesses-remaining-section {
    background-color: thistle;
    width: auto;
}

.guessed-letters-section {
    background-color: grey;
    width: auto;
}